azure-common
azure-core
azure-identity
azure-mgmt-core
azure-mgmt-policyinsights
azure-mgmt-resource
azure-mgmt-storage
boto3
botocore
certifi
cffi
charset-normalizer
cryptography
idna
isodate
jmespath
msal
msal-extensions
msrest
numpy
oauthlib
pandas
pip
psycopg2-binary
pycparser
PyJWT
python-dateutil
python-dotenv
pytz
requests
requests-oauthlib
s3transfer
six
typing_extensions
tzdata
urllib3
xmltodict
packaging
